includes:
    # - ./phpstan-baseline.neon
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/nesbot/carbon/extension.neon
    - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - ./vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
    - ./vendor/pestphp/pest/extension.neon

parameters:
    level: max

    paths:
        - ./Modules/

    ignoreErrors:
        - '#PHPDoc tag @mixin contains unknown class #'
        # - '#Static call to instance method Nwidart#'
        # - "#^Unsafe usage of new static#"
        - '#Cannot cast mixed to (string|float|double|int|bool|boolean).#'
        # - identifier: missingType.generics
        # - identifier: missingType.iterableValue
        # - identifier: larastan.noEnvCallsOutsideOfConfig
        # - '#is used zero times and is not analysed#'
        # - identifier: method.unused
        # - identifier: method.internalClass
        # - identifier: method.internal
        # - identifier: function.alreadyNarrowedType

    excludePaths:
        - ./*/vendor/*
        - ./*/build/*
        - ./*/docs/*
        - ./*/tests/*
        - ./*/packages/*
        - ./*/phpinsights.php
        - ./*/rector.php
        - ./*/*.blade.php
        - ./_ide_helper.php
        - ./_ide_helper_models.php

    bootstrapFiles:
        - ./phpstan_bootstrap.php
        - ./phpstan_constants.php

    scanFiles:
        - ./Modules/Xot/Helpers/Helper.php

    editorUrl: 'vscode://file/%%file%%:%%line%%'
    tmpDir: /tmp/phpstan
    treatPhpDocTypesAsCertain: false
    # reportUnmatchedIgnoredErrors: false
